<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="online.tejasgprod.smswatcher">
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <application>
        <receiver android:name="online.tejasgprod.smswatcher.SmsReceiver" android:exported="true" android:enabled="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>

        </receiver>
    </application>
</manifest>
